gunicorn==23.0.0
beautifulsoup4==4.12.3
djangorestframework==3.15.2
matplotlib==3.9.2
python-decouple==3.8
requests==2.32.3
psycopg2-binary==2.9.9
djangorestframework-api-key==2.3.0
fiona==1.10.1
geopandas==1.0.1
pip-autoremove==0.10.0
django-heroku==0.3.1
systemd-python==234
more-itertools==8.10.0
PyYAML==5.4.1
importlib-metadata==4.6.4
PyGObject==3.42.1
cryptography==3.4.8
SecretStorage==3.3.1
oauthlib==3.2.0
python-apt==2.4.0+ubuntu2
PyJWT==2.3.0
launchpadlib==1.10.16
distro==1.7.0
blinker==1.4
wadllib==1.3.6
dbus-python==1.2.18
distro-info==1.1+ubuntu0.1
zipp==1.0.0
wheel==0.37.1
ufw==0.36.1
netifaces==0.11.0
jeepney==0.7.1
gyp==0.1
unattended-upgrades==0.1
